@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Raleway", sans-serif;
  @apply tracking-wider;
}

/* Hide scroll bar while maintaining scroll functionality */
html {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
  scroll-behavior: smooth;
}

.skewed {
  transform: skewY(-10deg);
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  animation: fadeUp 1.5s ease-in-out forwards;
}

.bg-gradient-to-r {
  background: linear-gradient(270deg, #070c0c, #040707);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}
